body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    overflow: hidden;
    max-width: 350px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-image img {
    width: 80%;
    padding-left: 34px;
    padding-right: 15px;
    padding-top: 15px;
    display: block;
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    top: 15px; 
    left: 34px;
    right: 15px;
    width: 80%;
    height: 100%;
    background: rgba(0, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay img {
    width: 40px;
    height: 40px;
}

.card-content {
    padding: 20px;
    color: hsl(0, 0%, 100%);
}

.card-title {
    font-size: 22px;
    margin: 0;
    transition: color 0.3s;
}

.card-description {
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    margin: 10px 0;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.price {
    display: flex;
    align-items: center;
}

.price img {
    width: 12px;
    margin-right: 5px;
}

.price span {
    font-weight: bold;
    color: hsl(178, 100%, 50%);
    transition: color 0.3s;
}

.time-left {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    transition: color 0.3s;
}

.time-left img {
    width: 15px;
    margin-right: 5px;
}

.card-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 20px;
}

.avatar {
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s;
}

.creator {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    transition: color 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image:hover .overlay {
    opacity: 1;
}

.card-image img:hover {
    transform: scale(1.1);
}

.card-title:hover {
    color: hsl(178, 100%, 50%);
}

.price:hover span {
    color: hsl(0, 0%, 100%);
}

.time-left:hover {
    color: hsl(0, 0%, 100%);
}

.avatar:hover {
    transform: scale(1.1);
}

.creator:hover {
    color: hsl(178, 100%, 50%);
}
